/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
package-lock.json
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.idea
*.log
*.db
*.sqlite
.vimrc
*~
*.swp
*.swo

